--
-- PostgreSQL database cluster dump
--

\restrict MgBtXPHbNDoxUcgs6pZvF68Fo5lQFc7GdIxArNaDz42MNxZIz5cT5ptfKybFyhE

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE chatapp;
ALTER ROLE chatapp WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'md5d6c61f43e2215d6f3129fd85ddaaae1e';

--
-- User Configurations
--








\unrestrict MgBtXPHbNDoxUcgs6pZvF68Fo5lQFc7GdIxArNaDz42MNxZIz5cT5ptfKybFyhE

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict KxJQD5YCepGv9nIng73qLO9x4gioGm3wI0b8fxch17IhIu0txpdo6QdLI9a7CWL

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict KxJQD5YCepGv9nIng73qLO9x4gioGm3wI0b8fxch17IhIu0txpdo6QdLI9a7CWL

--
-- Database "auth_service" dump
--

--
-- PostgreSQL database dump
--

\restrict XdfmBbm6XpwGNF9mK9cVNYqhK9ko66eboEabkhu3KNQd2MFzBvq0sSNuNz4M5rZ

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth_service; Type: DATABASE; Schema: -; Owner: chatapp
--

CREATE DATABASE auth_service WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE auth_service OWNER TO chatapp;

\unrestrict XdfmBbm6XpwGNF9mK9cVNYqhK9ko66eboEabkhu3KNQd2MFzBvq0sSNuNz4M5rZ
\connect auth_service
\restrict XdfmBbm6XpwGNF9mK9cVNYqhK9ko66eboEabkhu3KNQd2MFzBvq0sSNuNz4M5rZ

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: chatapp
--

CREATE TYPE public.users_role_enum AS ENUM (
    'user',
    'admin'
);


ALTER TYPE public.users_role_enum OWNER TO chatapp;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: chatapp
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    "passwordHash" character varying NOT NULL,
    "fullName" character varying,
    "isActive" boolean DEFAULT true NOT NULL,
    "isEmailVerified" boolean DEFAULT false NOT NULL,
    role public.users_role_enum DEFAULT 'user'::public.users_role_enum NOT NULL,
    "resetPasswordOtp" character varying(6),
    "resetPasswordOtpExpires" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO chatapp;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: chatapp
--



--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: chatapp
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: chatapp
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- PostgreSQL database dump complete
--

\unrestrict XdfmBbm6XpwGNF9mK9cVNYqhK9ko66eboEabkhu3KNQd2MFzBvq0sSNuNz4M5rZ

--
-- Database "chatapp" dump
--

--
-- PostgreSQL database dump
--

\restrict WFk3N3ogrAa1IA8XHeobWSpxcsV7McsQMQEzWCJmsFosXpEUhod5hQ1BfUebXhn

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: chatapp; Type: DATABASE; Schema: -; Owner: chatapp
--

CREATE DATABASE chatapp WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE chatapp OWNER TO chatapp;

\unrestrict WFk3N3ogrAa1IA8XHeobWSpxcsV7McsQMQEzWCJmsFosXpEUhod5hQ1BfUebXhn
\connect chatapp
\restrict WFk3N3ogrAa1IA8XHeobWSpxcsV7McsQMQEzWCJmsFosXpEUhod5hQ1BfUebXhn

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict WFk3N3ogrAa1IA8XHeobWSpxcsV7McsQMQEzWCJmsFosXpEUhod5hQ1BfUebXhn

--
-- Database "friend_service" dump
--

--
-- PostgreSQL database dump
--

\restrict JQvpt1blGTuswkE44Xe0CoJPhwRy7xino44Wd8G2cJcB6d5YfbxDhaxGNDRrFIw

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: friend_service; Type: DATABASE; Schema: -; Owner: chatapp
--

CREATE DATABASE friend_service WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE friend_service OWNER TO chatapp;

\unrestrict JQvpt1blGTuswkE44Xe0CoJPhwRy7xino44Wd8G2cJcB6d5YfbxDhaxGNDRrFIw
\connect friend_service
\restrict JQvpt1blGTuswkE44Xe0CoJPhwRy7xino44Wd8G2cJcB6d5YfbxDhaxGNDRrFIw

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: friendships_status_enum; Type: TYPE; Schema: public; Owner: chatapp
--

CREATE TYPE public.friendships_status_enum AS ENUM (
    'pending',
    'accepted',
    'declined',
    'blocked'
);


ALTER TYPE public.friendships_status_enum OWNER TO chatapp;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: friendships; Type: TABLE; Schema: public; Owner: chatapp
--

CREATE TABLE public.friendships (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "requesterId" uuid NOT NULL,
    "addresseeId" uuid NOT NULL,
    status public.friendships_status_enum DEFAULT 'pending'::public.friendships_status_enum NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.friendships OWNER TO chatapp;

--
-- Name: user_cache; Type: TABLE; Schema: public; Owner: chatapp
--

CREATE TABLE public.user_cache (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    "fullName" character varying,
    avatar character varying,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_cache OWNER TO chatapp;

--
-- Data for Name: friendships; Type: TABLE DATA; Schema: public; Owner: chatapp
--



--
-- Data for Name: user_cache; Type: TABLE DATA; Schema: public; Owner: chatapp
--



--
-- Name: friendships PK_08af97d0be72942681757f07bc8; Type: CONSTRAINT; Schema: public; Owner: chatapp
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT "PK_08af97d0be72942681757f07bc8" PRIMARY KEY (id);


--
-- Name: user_cache PK_2fa0390640bd72a834b5464055e; Type: CONSTRAINT; Schema: public; Owner: chatapp
--

ALTER TABLE ONLY public.user_cache
    ADD CONSTRAINT "PK_2fa0390640bd72a834b5464055e" PRIMARY KEY (id);


--
-- Name: user_cache UQ_7e4e5eaeba9b38935d471ac3b7c; Type: CONSTRAINT; Schema: public; Owner: chatapp
--

ALTER TABLE ONLY public.user_cache
    ADD CONSTRAINT "UQ_7e4e5eaeba9b38935d471ac3b7c" UNIQUE (email);


--
-- Name: IDX_ae267b922c295ac548dd498e54; Type: INDEX; Schema: public; Owner: chatapp
--

CREATE UNIQUE INDEX "IDX_ae267b922c295ac548dd498e54" ON public.friendships USING btree ("requesterId", "addresseeId");


--
-- PostgreSQL database dump complete
--

\unrestrict JQvpt1blGTuswkE44Xe0CoJPhwRy7xino44Wd8G2cJcB6d5YfbxDhaxGNDRrFIw

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict 28OiQherJPQXXsix7oSa1rNeqzUABvjQDQYfOP9nb1m9x3DM30mfcF4s1WW8O7g

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict 28OiQherJPQXXsix7oSa1rNeqzUABvjQDQYfOP9nb1m9x3DM30mfcF4s1WW8O7g

--
-- Database "user_service" dump
--

--
-- PostgreSQL database dump
--

\restrict ROoXeFXyANtqlBxBcL0mhrxUvyDv3aTeFJqS1Qx2AevsDpVhZamvEgOZtLxZC1X

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: user_service; Type: DATABASE; Schema: -; Owner: chatapp
--

CREATE DATABASE user_service WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE user_service OWNER TO chatapp;

\unrestrict ROoXeFXyANtqlBxBcL0mhrxUvyDv3aTeFJqS1Qx2AevsDpVhZamvEgOZtLxZC1X
\connect user_service
\restrict ROoXeFXyANtqlBxBcL0mhrxUvyDv3aTeFJqS1Qx2AevsDpVhZamvEgOZtLxZC1X

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: chatapp
--

CREATE TABLE public.user_profiles (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    "fullName" character varying,
    avatar character varying,
    phone character varying(20),
    bio text,
    role character varying(20) DEFAULT 'user'::character varying NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_profiles OWNER TO chatapp;

--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: chatapp
--



--
-- Name: user_profiles PK_1ec6662219f4605723f1e41b6cb; Type: CONSTRAINT; Schema: public; Owner: chatapp
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT "PK_1ec6662219f4605723f1e41b6cb" PRIMARY KEY (id);


--
-- Name: user_profiles UQ_3c5b69b9a9a4e3b029e3fef411d; Type: CONSTRAINT; Schema: public; Owner: chatapp
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT "UQ_3c5b69b9a9a4e3b029e3fef411d" UNIQUE (email);


--
-- PostgreSQL database dump complete
--

\unrestrict ROoXeFXyANtqlBxBcL0mhrxUvyDv3aTeFJqS1Qx2AevsDpVhZamvEgOZtLxZC1X

--
-- PostgreSQL database cluster dump complete
--

